logs/
saves/
schematics/
shaderpacks/
minecraftinstance.json
journeymap/
crash-reports/
local/
command_history.json
usercache.json
config/jei/
changelog.txt
command_history.txt
waypoints/
usernamecache.json
realms_persistence.json
.curseclient
imgui.ini
mods/Essential*.jar
/essential
ops.json
downloads/
whitelist.json
ops.json
options.txt
user-prefs.json
screenshots/
resourcepacks/
profileImage/
datapacks/
.vscode/
dynamic-resource-pack-cache/
debug/
defaultconfigs/
local/
changelog.txt
options.txt
.probe
config/lmft.json
kubejs/client_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
kubejs/config/probe-settings.json