logs/
saves/
schematics/
shaderpacks/
minecraftinstance.json
journeymap/
crash-reports/
local/
command_history.json
usercache.json
config/jei/
changelog.txt
command_history.txt
waypoints/
usernamecache.json
realms_persistence.json
.curseclient
imgui.ini